@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@700&display=swap");
@import url("https://use.fontawesome.com/releases/v5.6.3/css/all.css") h1, h2 {
  font-family: "Poppins", sans-serif;
}

h1 {
  color: rgb(43, 85, 162);
}

h2 {
  color: rgb(236, 183, 48);
}
body {
  font-family: "Open Sans", sans-serif;
  background-color: rgb(240, 240, 240);
  background-image: url(images/background-mwe.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
  width: 700px;
  margin: 24px auto;
}

a {
  font-weight: bold;
  text-decoration: none;
  color: rgb(43, 85, 162);
}

a:hover {
  color: #3967c9;
}

.img-circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.btn-blue {
  background-color: rgb(43, 85, 162);
  color: rgb(236, 183, 48);
  padding: 8px 24px;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.btn-blue:hover {
  background-color: #213b72;
  color: rgb(236, 183, 48);
}

.card-white {
  background-color: white;
  padding: 32px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.list-inline {
  list-style: none;
  padding: 0;
}

.list-inline li {
  display: inline-block;
}

.social-icon {
  font-size: 32px;
  color: rgb(43, 85, 162);
  margin: 8px 24px;
}

.social-icon:hover {
  color: #213b72;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
  .btn-blue {
      padding: 5px 10px;
  }
}
